/Sentiment_Analysis/model_new.h5

/Sentiment_Analysis/reviews.pickle

/Gender_Classification/gender-classifier-DFE-791531.csv

/Gender_Classification/gender.pickle

/Gender_Classification/gendertext.pickle
